:root {
  --bg-color:#242A33;
  --primary-color: rgb(73, 82, 99);
  --font-color:#F0F4EF;
}

@keyframes opacity {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

*::-webkit-scrollbar {
  background-color: transparent;
  height: 3px;
}



.navbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: var(--font-color);
  height: 100%;
  padding: 0 20px;
  font-weight: 600;
  user-select: none;
  transition: all .4s;
  flex-grow: 1;
}


.settings-icon {
    display: flex;
  align-items: center;
  font-size: 40px;
  color: var(--font-color);
  height: 100%;
  padding: 0 20px;
  font-weight: 600;
  user-select: none;
  transition: all .4s;
}

.logo:hover {
  color: rgb(172, 172, 172);
}

.user-info {
  width: 70%;
  padding: 40px;
  box-shadow: 0px 0px 10px 2px rgba(78, 110, 134, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.user-account {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.user-avatar {
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  align-items: center;
  border-radius: 50%;
}

.user-profile-pic{
  width: 100%;
}

.user-initials {
  color: var(--font-color);
  font-size: 30px;
}

.user-addition {
  color: #a7a7a7;
  font-size: 17px;
}

.user-desc {
  flex-grow: 1;
}

.user-create-account {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-create-account-button {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  background-color: var(--font-color);
  border-radius: 30px;
  transition: scale .2s;
}

.user-create-account-button:hover {
  scale: 1.05;
}


.banking-info {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 20px auto;
}

.banking-accounts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.bank-account {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--font-color);
}
.bank-account.disabled {
  filter: grayscale(50%);
}

.bank-account.disabled> * {
  text-decoration: line-through;
}

.bank-account.create{
    background-color: rgb(55, 59, 65);
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
    align-self: center;
}


.bank-account-money{
  display: flex;
  flex-direction: row;
}

.bank-account-money-value {
  font-size: 40px;
}

.bank-account-money-currency{
  font-size: 30px;
  margin-top: 5px;
}

.bank-account-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.bank-account-number::before{
  content: "**";
}
.bank-account-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.bank-account-topline{
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  aspect-ratio: 2/1.2;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #33383f;
  box-shadow: 0 3px 10px 2px rgba(73, 89, 109, 0.5);
  transition: scale .2s;
}

.card.create {
  background-color: rgb(55, 59, 65);
  justify-content: center;
  align-items: center;
}


.card:hover {
  scale: 1.07;
}

.card-money {
  display: flex;
  flex-direction: row;
  height: 55%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
}

.card-money-value {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

.card-cridentials {
 display: flex;
  gap: 20px;
}

.card-number {
  margin-top: 20px;
  flex-grow: 1;
}


.card-number::before {
  content: "*";
}

.card-processor {

}

.card-actions {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: end;
}

.card-action-button {
 font-size: 20px;
  transition: all .3s
}

.card-action-button:hover {
  scale: 1.2;
  color: #aaaaaa;
}

.card-deposit-button {

}

.card-swiper-wrapper {
  position: relative;
  width: 150px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-swiper {
  appearance: none;
  position: absolute;
  width: 150px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  z-index: 9999;
  outline: none;
}

.card-swiper::-webkit-slider-thumb {
  appearance: none;
  width: 1px;
  height: 20px;
  background-color: #2b2a2a;
  border: 2px solid #aaaaaa;
  transition: height .4s;
  transition: all .2s;

}

.cards-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scrollbar-gutter: stable;
}

.cards-container.inactive {
  filter:blur(4px);
  pointer-events: none;
  user-select: none;
}

.banking-selection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  margin-left: 40px;
  font-weight: 600;
}

.banking-selection-button.active {
  background-color: rgb(255, 255, 255);
  scale: 1.1;
}

.banking-selection-button {
  padding: 10px;
  background-color: rgb(167, 167, 167);
  border-radius: 15px;
  cursor: pointer;
}

.banking-selection-button:hover {
  background-color: var(--font-color);
}

.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: rgba(29, 29, 29, 0.5);
  color: black;
}

.modal-content {
  position: relative;
  padding: 20px;
  margin-bottom: 3%;
  overflow: auto;
  scrollbar-gutter: stable;
  animation: scale .2s;

}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin: -10px;
  font-size: 40px;
}

.modal.active {
  display: flex;
}

.authorization-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization-window {
  width: 1200px;
  height: 800px;
  background-color: var(--primary-color);
  border-radius: 40px;
  overflow: hidden;
}

.registration-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}



.registration-left-side {
  width: 40%;
  border-right: 1px solid rgb(153, 153, 153);
  padding: 30px 40px;
}
.registration-left-side .logo {
  align-items: normal;
  padding: 0;
  height: fit-content;
}

.registration-left-side .logo:hover {
  color: white;
}

.registration-right-side{
  flex-grow: 1;
  padding: 30px 40px;;
  height: 100%;
}

.authorization-title {
  color: var(--font-color);
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}

.authorization-line-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #646b7c;
  border-radius: 15px;
  padding: 10px 20px;
}


.authorization-line-title {
  font-size: 14px;
  color: #ffffff

}
.authorization-line-input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: 15px;
}

.authorization-submit-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.authorization-submit-button {
  width: 80%;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #817d7d;
  padding: 10px;
  border-radius: 20px;
  transition: all .4s;
}

.authorization-submit-button:hover {
  background-color: #d0d0d0;
  color: black;
}
.authorization-submit-button:active {
  transition: scale 0.1s;
  scale: 0.95;
}

.transfer-wrapper {
  width: 1000px;
  height: 800px;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.transfer-account {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--font-color);
}

.transfer-account-number {

}

.transfer-account-balance {

}

.notification-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}

.notification {
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--primary-color);
  border-radius: 20px;
  animation: opacity .4s;
}
